*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:system-ui,sans-serif;
}

body{
    background:#ffffff;
    min-height:100vh;
    padding:40px 20px;
    color:#111;
}

.container{
    max-width:700px;
    margin:auto;
}

header{
    margin-bottom:30px;
}

header h1{
    font-size:2rem;
    font-weight:600;
    margin-bottom:8px;
}

header p{
    color:#666;
    font-size:.95rem;
}

form{
    display:grid;
    grid-template-columns:2fr 1fr auto;
    gap:10px;
    margin-bottom:20px;
}

.input-group{
    display:flex;
    flex-direction:column;
}

label{
    margin-bottom:5px;
    font-size:.9rem;
    color:#444;
}

input{
    padding:12px;
    border:1px solid #dcdcdc;
    border-radius:8px;
    outline:none;
    background:white;
}

input:focus{
    border-color:#000;
}

button{
    border:none;
    cursor:pointer;
    transition:.2s;
}

form button{
    background:#00000024;
    color:#060606;
    padding:12px 18px;
    border-radius:8px;
}

form button:hover{
    opacity:.9;
}

.actions{
    margin-bottom:25px;
}

#syncBtn{
    width:100%;
    padding:12px;
    background:#f5f5f5;
    color:#000;
    border:1px solid #ddd;
    border-radius:8px;
}

#syncBtn:hover{
    background:#ededed;
}

#message{
    margin-bottom:15px;
    font-size:.9rem;
}

.success{
    color:#000;
}

.error{
    color:#000;
}

#productList{
    list-style:none;
}

.product{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:16px 0;
    border-bottom:1px solid #eaeaea;
}

.product-info strong{
    display:block;
    font-size:1rem;
    margin-bottom:4px;
}

.product-info span{
    color:#666;
    font-size:.9rem;
}

.product-buttons{
    display:flex;
    gap:8px;
}

.edit,
.delete{
    background:none;
    border:1px solid #dcdcdc;
    padding:8px 12px;
    border-radius:6px;
    color:#111;
}

.edit:hover,
.delete:hover{
    background:#f5f5f5;
}

@media(max-width:768px){

    form{
        grid-template-columns:1fr;
    }

    .product{
        flex-direction:column;
        align-items:flex-start;
        gap:12px;
    }

    .product-buttons{
        width:100%;
    }

    .product-buttons button{
        flex:1;
    }

}